<h2>List of ordered Products</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @ordered_products.each do |product| %>
    <tr>
      <th scope="row"><%= product.product.id %></th>
      <td><%= product.product.name %></td>
      <td><%= product.product.description %></td>
      <td><%= Product.find(product.product.id).category.category_name %></td>
      <td><%= number_to_currency(product.product.price) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Admin Page', admin_orders_path, class: 'btn btn-primary' %>
