<h1>Placing an Order</h1>
<%= form_for @final_order do |f| %>
  <% if @final_order.errors.full_messages.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% @final_order.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul> 
    </div>
  <% end %>
  <h3>1.Your contact details</h3>
  <div class="col-10">
    <div class="d-flex justify-content-between">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control form-control-lg' %>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control form-control-lg' %>
        </div>
      </div>
    </div><br> 
  </div>

  <div class="mb-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :phone_number %>
    </div>
    <div class="col-sm-10">
      <%= f.telephone_field :phone_number, placeholder: 'Phone Number', class: 'form-control form-control-lg' %>    
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :address %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :address, placeholder: 'Your Address', class: 'form-control form-control-lg' %> 
    </div>
  </div>
  <h3>2.Your order</h3>
  <div class="menu-container col-8">
    <ol><div class="row">
    <% @order_items.each do |product| %>
      <li><div class="card col-6">
        <div class="card-body">
          <h3><%= product.product.name %></h3>
          <p><%= product.product.description %></p>
          <h3><%= product.product.price %>$</h3>
          <h5>Count <%= product.quantity.to_i %></h5> 
          <%# <%= hidden_field_tag :quantity, value: product.product.quantity.to_i %> 
        </div>
      </div></li>
    <% end %>
    <%# <h5>Count <%= current_order.order_items.quantity.to_i</h5 %>
    </div></ol>
    <h3>To be paid: <%= @current_order.total_sum %>$</h3>
  </div>
  <%= hidden_field_tag :product_ids, current_order.products.ids.join(',') %>

  <%= f.submit 'Order now', class: 'btn btn-primary btn-lg' %><br>
<% end %>
<br>
