<h1>Products</h1>
<%= @user_id %>
<div class="menu-container">
    <div class="row" style="display: grid; grid-template-columns: 73% 27%;">
      <div class="col-12 input-group">
        <%= form_tag(products_path, method: :post) do %>

          <div class="input-group mb-5">
            <div class="col-2" style="padding:0">
              <%= select_tag :category_id, options_for_select(Category.all.collect { |c| [c.category_name, c.id]}, @category_id), class: 'form-control', prompt: 'Select category'%>

            </div>
            <div class="col-4" style="padding:0">                 
              <%= text_field_tag(:search, @search, class:'form-control', placeholder: 'Search...')%>
            </div>

            <div class="col-2" style="padding:0">
              <%= text_field_tag(:price_from, @price_from, class:'form-control', placeholder: 'Price from...')%>
            </div>
            <div class="col-2" style="padding:0">
              <%= text_field_tag(:price_to, @price_to, class:'form-control', placeholder: 'Price to...')%>
            </div>

            <div class="col-2" style="padding:0">
              <%= submit_tag 'Search', class: 'btn btn-dark'%>
            </div>
          </div>
        <% end %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= number_to_currency(product.price) %></td>
                <td><%= button_to 'Add to Cart', product_items_path(product_id: product.id), 
                  remote: true %></td> 
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> 
        <div id='cart'
          <% if @cart.product_items.empty? %>
            style = "display: none"
          <% end %>
          >
        <%= render @cart %>
      </div>    
    </div>
  </div>
     
          


  