<h1>Products</h1>
<%= @user_id %>
<div class="menu-container">
    <div class="row"> 
    <%# #style="display: grid; grid-template-columns: 73% 27%; %>
      <div class="col-12 input-group">
        <%= form_tag(products_path, method: :post) do %>

          <div class="input-group  mb-5">
            <div class="col-4" style="padding:0">
              <%= select_tag :category_id, options_for_select(Category.all.collect { |c| [c.category_name, c.id]}, @category.try(:id)), class: 'form-control', prompt: 'Select category' %>
              <%# <%= select_tag :category_id, options_for_select(Category.all.collect { |c| [c.category_name, c.id]}, @category_id), class: 'form-control', prompt: 'Select category'%> 
            </div>
            <div class="col-3" style="padding:0">
              <%= text_field_tag(:price_from, @price_from, class:'form-control', placeholder: 'Price from...')%>
            </div>
            <div class="col-3" style="padding:0">
              <%= text_field_tag(:price_to, @price_to, class:'form-control', placeholder: 'Price to...')%>
            </div>

            <div class="col-2" style="padding:0">
              <%= submit_tag 'Filter out', class: 'btn btn-dark'%>
            </div>
          </div>
        <% end %>
      </div> 

      <% if @category.present? %>
        <h2><%= @category.category_name %></h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @category.products.each do |product| %>
              <tr>
                  <td data-toggle="modal" data-target="#show_product_<%= product.id %>"><%= product.name %></td>
                  <td data-toggle="modal" data-target="#show_product_<%= product.id %>"><%= product.description %></td>
                  <td data-toggle="modal" data-target="#show_product_<%= product.id %>"><%= number_to_currency(product.price) %></td>
                <td>
                  <%= form_for(current_cart.product_items.build(product: product), remote: true) do |f| %>
                    <%= f.number_field :quantity, value: 1, min: 1 %>
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.submit 'Add to Cart', data: {toggle: 'modal', target: '#cart_modal'} %>
                  <% end %>
                </td>
              </tr>
              <%= render 'show_product_modal', product: product %>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <% @categories.each do |category| %>
          <h2><%= category.category_name %></h2>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Price</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% category.products.each do |product| %>
                  <tr>
                    <td data-toggle="modal" data-target="#show_product_<%= product.id %>"><%= product.name %></td>
                    <td data-toggle="modal" data-target="#show_product_<%= product.id %>"><%= product.description %></td>
                    <td data-toggle="modal" data-target="#show_product_<%= product.id %>"><%= number_to_currency(product.price) %></td>
                    <td>
                      <%= form_for(current_cart.product_items.build(product: product), remote: true) do |f| %>
                        <%= f.number_field :quantity, value: 1, min: 1 %>
                        <%= f.hidden_field :product_id, value: product.id %>
                        <%= f.submit 'Add to Cart', data: {toggle: 'modal', target: '#cart_modal'} %>
                      <% end %>
                    </td>
                  </tr>
                  <%= render 'show_product_modal', product: product %>
                <% end %>
              </tbody>
            </table>
          <% end %>
      <% end %>
    </div>
  </div>

  <%= render 'cart_modal' %>
  