<h1>Products</h1>
<%= @user_id %>
<div class="menu-container">
    <div class="row">
      <div class="col-12">
        <%= form_tag(products_path, method: :post) do %>

          <div class="input-group mb-5">
            <div class="col-3" style="padding:0">
              <%= select_tag :category_id, options_for_select(Category.all.collect { |c| [c.category_name, c.id]}, @category_id), class: 'form-control', prompt: 'Select category'%>

            </div>
            <div class="col-4" style="padding:0">                 
              <%= text_field_tag(:search, @search, class:'form-control', placeholder: 'Search...')%>
            </div>

            <div class="col-2" style="padding:0">
              <%= text_field_tag(:price_from, @price_from, class:'form-control', placeholder: 'Price from...')%>
            </div>
            <div class="col-2" style="padding:0">
              <%= text_field_tag(:price_to, @price_to, class:'form-control', placeholder: 'Price to...')%>
            </div>

            <div class="col-1" style="padding:0">
              <%= submit_tag 'Search', class: 'btn btn-dark'%>
            </div>

          </div>
        <% end %>
      </div>     
    </div>


  <div class="menu-container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="card col-4">
          <div class="card-body">
            <br>
            <h5><%= product.name %></h5>
            <p><%= product.description %></p>
            <span><%= product.price %>$</span><br>
            <%= form_with model: @order_item do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.number_field :quantity, value: 1, min: 1 %>
              <%= f.submit 'Add to Cart' %>
            <% end %>
          <%# <%= link_to 'Show', product %> 
          <%# <%= link_to 'Edit', edit_product_path(product) %>
          <%# <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <%# <%= link_to 'New Product', new_product_path %> 
</div>



