<h1>Products</h1>
<div class="menu-container">
    <div class="row">
      <div class="col-12">
        <%= form_tag(search_products_path, method: :get) do %>

          <div class="input-group mb-5">
            <div class="col-3" style="padding:0">
              <%= select_tag :category_id, options_for_select(Category.all.collect { |c| [c.category_name, c.id]}), class: 'form-control', prompt: 'Select category'%>
            </div>
            <div class="col-4" style="padding:0">                 
              <%= text_field_tag(:search, nil, class:'form-control', placeholder: 'Search...')%>
            </div>

            <div class="col-2" style="padding:0">
              <%= text_field_tag(:price_from, nil, class:'form-control', placeholder: 'Price from...')%>
            </div>
            <div class="col-2" style="padding:0">
              <%= text_field_tag(:price_to, nil, class:'form-control', placeholder: 'Price to...')%>
            </div>

                <%# <div class="col-3" style="padding:0">
                  <%= select_tag "filter", options_for_select(['Select Category', 
                  'Mens Watches', 
                  'Womens Watches', 
                  'Kids Watches', 
                  'Mechanic Watches', 
                  'Electronic Watches']), class:'custom-select form-control'%>
                <%# </div>  %> 
            <div class="col-1" style="padding:0">
              <%= submit_tag 'Search', class: 'btn btn-dark'%>
            </div>

          </div>
        <% end %>
      </div>     
    </div>


  <div class="menu-container">
    <div class="row">
      <div class="col-12">
        <%= form_tag %>
      </div>
    </div>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-4"><br>
          <h5><%= product.name %></h5>
          <p><%= product.description %></p>
          <span><%= product.price %>$</span><br>
          <%# <%= link_to 'Show', product %> 
          <%# <%= link_to 'Edit', edit_product_path(product) %>
          <%# <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> 
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <%# <%= link_to 'New Product', new_product_path %> 
</div>



