<header class="p-3 bg-dark text-white">
  <div class="container">
    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-auto mb-2 mb-md-0">
        <li><%= link_to 'Home', root_path, class: 'nav-link px-2 text-white' %></li>
        <li><%= link_to 'Products', products_path, class: 'nav-link px-2 text-white' %></li>
        <%# <li><%= link_to 'Cart', cart_path, class: 'nav-link px-2 text-white' %> 
      </ul>

      <ul  class="nav col-12 col-lg-auto ml-auto mb-2 mb-md-0 justify-content-center">      
        <%= form_tag(products_path, method: :post) do %>
          <div class="form-group" style="display:flex; justify-content:flex-end;">
            <%= text_field_tag(:search, @search, class:'form-control', placeholder: 'Search...')%>
            <%= submit_tag 'Search', class: 'btn btn-light'%>
          </div>
        <% end %>
      </ul>

      <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
        <% if user_signed_in? %>
          <li class="nav-link px-2 text-white" href="#"><%= current_user.email %></li>
          <li><%= link_to 'Log Out', session_path, class: 'nav-link px-2 text-white', 
                data: {method: :delete}%></li>
          <li><%= link_to 'Edit Profile', edit_user_path(current_user), class: 'nav-link px-2 text-white'%></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to 'Log in', new_session_path, class: 'nav-link px-2 text-white' %></li>
        <% end %>
      </ul>  
    </nav>
  </div>
</header>